<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        h1{
            
            color: red;
        }
        table{

            border: 1px solid red;
            font-size: 50px;
            margin: auto;
        }
        tr:nth-of-type(even){
             background: gray;
        }
        tr:nth-of-type(odd){
            background: yellow;
        }
    </style>
</head>
<body>
    <h1>Hello world</h1>
    <h2>Top Actress of 2023 :</h2>
    <table>

        <thead>
            <th>Name</th>
            <th>Age</th>
        </thead>
        <tr>
            <td>Sunny</td>
            <td>36</td>
        </tr>
        <tr>
            <td>Malika</td>
            <td>38</td>
        </tr>
    </table>
</body>
</html>